@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark font-sans antialiased;
  }
}
